/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }

.selectedAirportsHolder {
    min-height: 10px;
    padding: 5px;
    float:left;
    width: 200px;
    overflow:auto;
}

.selectedAirportsItem {
    min-height: 10px;
    padding: 5px;
    list-style: none;
    list-style-type: none;
    border-radius: 4px;
}

/*.new_route_controls {
    clear:both;
    float:left;
    display:inline-block;
}      */

.new_route_elements {
    overflow-y: visible;
}

.left{
    float:left;
    margin: 10px 0px;
    clear: both;
}

.route_element {
    position: relative;
    display:block;
    clear:both;
    margin-top: 10px;
    padding: 5px;
    max-width: 300px;
    border-radius: 5px;

    border-bottom: 2px solid #cccccc;
    border-right: 2px solid #cccccc;

    /*background-color: #ABD147;*/
}

.degrees {
    width:10em;
}

#send {
    display:none;
}

.container .jumbotron {
    text-align: center;
    margin-top:20px;
}

#create_new_route {
    margin-bottom: 0px;
}

.selectpicker {
    height:30px;
    background-color: #ddd;
    margin-top: 5px;
    color: #555;
}

input.multiselect-search {
    height: 30px;
}

input[type="text"] {
    height: 30px;
}

input[type="number"] {
    height: 30px;
}

.modify-conditions {
    float: right;
    padding: 5px;
}

.start-end-btns {
    padding-top: 10px;
    padding-bottom: 10px;
}

.preposition-label {

    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #666;

}

.container-narrow {
    margin: 0 auto;
    max-width: 700px;
}

.container-narrow>hr {
    margin: 30px 0px;
}


.bootstrap-select> button {
    width: 100%;
}

.span6 {
    min-width: 300px;
    margin-left: 0px !important;
}

.multiselect {
    width: 100% !important;
    /*min-width: 300px;*/
    display: block;
    text-align: left;
}

.multiselect b.caret {
    position: absolute;
    right: 12px;
}

.input-group {
    width: 100%;
}

.degrees {
    width: 100%;
}

.btn-group {
    width: 100%;
}

body {
    background-color: #CED9BC;
}

.navbar {
    background-color: #3C5B45;
}

